* {
    box-sizing: border-box;
    width: 100%;
}

.student-redirection li {
    margin-bottom: 15px;
}

.research-interest li {
    margin-bottom: 15px;
}

.pic1 {
    height: 262px;
    width: 242px;
    float: right;
    margin-right: 100px;
}